<app-costeo-input
(onEnter)="buscar($event)"
></app-costeo-input>



<section>
  <div
  class="card"
  *ngFor="let ingrediente of ingredientes">
    <img [src]="ingrediente.img"class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ingrediente.name}}</h5>
      <div class="card-text">
        <h5>${{ingrediente.price}}</h5>
        <input
        type="number"
        class="cantidad"
        [(ngModel)]="cantidadTexto">
        <select
        name=""
        id=""
        [(ngModel)]="opcionSeleccionado">
          <option value="">opciones</option>
          <option
          *ngFor="let unidad of ingrediente.unity"
          value="{{unidad}}">{{unidad}}</option>
        </select>
      </div>
      <button
      type="button"
      class="btn btn-outline-primary"
      (click)="agregar()">Agregar</button>
    </div>
  </div>
</section>
